.faq-block {
  padding: 41px 101px 49px 101px;
  margin-bottom: 80px;
  background: #EF7F1A;
  border-radius: 7px;
}

.faq-block__title {
  margin: 0px 0px 48px 421px;
}

.faq-list {
  outline-style: none;
  background: #FFFFFF;
  border-radius: 7px;
  padding: 36px 0px 27px 18px;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.faq-list__inner {
  position: relative;
  padding: auto;
  list-style: none;
  outline: 0;
}

.faq-list__inner::before {
  content: "";
  width: 30px;
  height: 16px;
  top: -2px;
  left: 920px;
  background: url(/img/svg/svg_icon_16.svg) no-repeat 0 0;
  position: absolute;
  background-repeat: no-repeat;
  transition: transform 0.5s ease;
  transform: rotate(0deg);
}

.faq-list__inner:hover:before {
  fill:#EF7F1A;
  background: url(/img/svg/svg_icon_19.svg) no-repeat 0 0;
}

.faq-list[open] .faq-list__inner:before {
  transition: transform 0.5s ease;
  transform: rotate(0deg);
  transform-origin: 50% 50%;
  transform: rotate(180deg);
}

.faq-list[open] .faq-list__inner:focus::before {
  transition: transform 0.5s ease;
  transform: rotate(0deg);
  transform-origin: 50% 50%;
  transform: rotate(180deg);
}

.faq-list__inner:hover,
.faq-list__inner:focus {
  color: #EF7F04;
}

.faq-list__inner:active {
  color: #d07119;
}

.faq-list--text {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.faq-text {
  padding-top: 28px;
}