.faq-block {
  padding: 2.135416666666667vw 5.260416666666667vw 2.552083333333333vw 5.260416666666667vw;
  margin-bottom: 4.166666666666667vw;
  background: #EF7F1A;
  border-radius: 0.364583333333333vw;
}

.faq-block__title {
  margin: 0vw 0vw 2.5vw 21.927083333333332vw;
}

.faq-list {
  outline-style: none;
  background: #FFFFFF;
  border-radius: 0.364583333333333vw;
  padding: 1.875vw 0vw 1.40625vw 0.9375vw;
  margin-bottom: 0.625vw;
  font-weight: 400;
  font-size: 0.833333333333333vw;
  line-height: 0.9375vw;
  color: #000000;
}

.faq-list__inner {
  position: relative;
  padding: auto;
  list-style: none;
  outline: 0;
}

.faq-list__inner::before {
  content: "";
  width: 1.5625vw;
  height: 0.833333333333333vw;
  top: -0.104166666666667vw;
  left: 47.916666666666664vw;
  background: url(/img/svg/svg_icon_16.svg) no-repeat 0 0;
  background-size: 1.458333333333333vw 0.729166666666667vw;
  position: absolute;
  background-repeat: no-repeat;
  transition: transform 0.5s ease;
  transform: rotate(0deg);
}

.faq-list__inner:hover:before {
  background: url(/img/svg/svg_icon_19.svg) no-repeat 0 0;
  background-size: 1.458333333333333vw 0.729166666666667vw;
}

.faq-list[open] .faq-list__inner:before {
  transition: transform 0.5s ease;
  transform: rotate(0deg);
  transform-origin: 50% 50%;
  transform: rotate(180deg);
}

.faq-list .faq-list__inner:focus::before {
  background: url(/img/svg/svg_icon_19.svg) no-repeat 0 0;
  background-size: 1.458333333333333vw 0.729166666666667vw;
}

.faq-list[open] .faq-list__inner:focus::before {
  background: url(/img/svg/svg_icon_19.svg) no-repeat 0 0;
  background-size: 1.458333333333333vw 0.729166666666667vw;
}

.faq-list__inner:hover,
.faq-list__inner:focus {
  color: #EF7F04;
}

.faq-list__inner:active {
  color: #d07119;
}

.faq-list--text {
  font-style: normal;
  font-weight: 700;
  font-size: 0.9375vw;
  line-height: 1.09375vw;
}

.faq-text {
  padding-top: 1.458333333333333vw;
}