footer {
  padding: 2.65625vw 0vw 2.552083333333333vw 0vw;
  background-color: #2F2F51;
  color: #FFFFFF;
  line-height: 1.041666666666667vw;
}

.footer__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 17.991666666666668vw;
}

.branded__block {
  display: flex;
  align-items: center;
  gap: 1.145833333333333vw;
}

.info__block {
  width: auto;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 0.729166666666667vw;
  line-height: 1.875vw;
}

.info__block--link {
  outline: 0;
}

.info__block--link:hover,
.info__block--link:focus {
  color: #EF7F04;
}

.info__block--link:active {
  color: #d07119;
  
}

.info__block--link:nth-child(1) {
  margin-left: 3.854166666666667vw;
}

.info__block--link:nth-child(2) {
  margin-left: 1.510416666666667vw;
}