// стили в header
header {
  background-color: #ffffff;
}

.header-wrapper {
  display: flex;
}

// Стили ссылок main-nav

.maim-nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 12px 0px 30px 0px;
  
}

.main-nav__list {
  display: flex;
  min-width: 700px;
  margin: 0px 15px 0px 45px;
  padding: 0;
}

.main-nav__item {
  padding-right: 35px;
}

.main-nav__link {
  color: #000000;
}

.main-nav__link:hover {
  color: #EF7F04;
}

.main-nav__link:active {
  color: #d07119;
}

.btn--application {
  background: url(/img/svg/svg_icon_8.svg) no-repeat 11px 8px;
  width: 169px;
  height: 40px;
  margin-right: 14px;
  padding: 12px 19px 13px 47px;

}

.btn--order {
  background: url(/img/svg/svg_icon_9.svg) no-repeat 11px 8px;
  width: 172px;
  height: 40px;
  padding: 12px 23px 13px 47px;
  padding-left: 47px;
}


// Стили кнопок main-nav^
// стили в header^