// Стили формы в main-promo

.main-promo {
  background: #3B3A63 url(/img/bg_1.webp) no-repeat 0 0;
  background-blend-mode: multiply;
}

.features--one {
  background: url(/img/svg/svg_icon_5.svg) no-repeat 0 0;
}

.features--two {
  background: url(/img/svg/svg_icon_6.svg) no-repeat 0 0;
}

.features--three {
  background: url(/img/svg/svg_icon_7.svg) no-repeat 0 0;
}
