.portfolio__title{
  margin: 136px 0px 48px 531px;
}

.portfolio__image--wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 44px;
  padding: 0px 0px 71px 101px;
}

.portfolio__image {
border-radius: 3px;

}