.portfolio {
  background-color: #FFFFFF;
  border-radius: 3px;
}

.portfolio__title {
  margin: 87px 0px 48px 531px;
  padding-top: 48px;
}

.portfolio__image--wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 44px;
  padding: 0px 0px 67px 101px;
}

.portfolio__image {
  border-radius: 3px;
}