<article class="about-us__slider">
  <h2 class="about-us__title title--middle text--purple">О компании</h2>
  <ul class="about-us__list">
    <li><a class="about-us__link" href="#">Описание</a></li>
    <li><a class="about-us__link" href="#">Как мы работаем</a></li>
    <li><a class="about-us__link" href="#">Отзывы</a></li>
    <li><a class="about-us__link" href="#">Сертификаты</a></li>
  </ul>
  <div class="about-us__block-wrapper">
    <a class="about-us__logo-link" href="#">
      <img src="/img/svg/Big_logo.svg" width="198" height="140" alt="Большой логотип">
    </a>
    <p class="about-us__text">Мы помогаем клиентам подбирать решения, учитывая пожежелания к характеристикам окна и его
      стоимости. Окно - это
      объект, которым Вы будете пользоваться много лет, поэтому для нас очень важно, чтобы Вы сделали правильный выбор
    </p>
    <picture class="about-us__block">
      <source media="(max-width: 767px)" srcset="/img/window_man_1x.webp 1x,  /img/window_man_2x.webp 2x">
      <source media="(max-width: 1200px)" srcset="/img/window_man_1x.webp 1x,/img/window_man_1x.webp 2x">
      <img class="" src="/img/window_man_1x.webp" srcset="/img/window_man_2x.webp 2x" width="595" height="461"
        alt="Мастер устанавливает окно">
    </picture>
  </div>
</article>