.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.elenent-non {
  display: none;
}

body {
  min-width: 1920px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  ;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #000000;
  background: #F2F2F2;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 0;
  padding-left: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.--just-space {
  justify-content: space-between;
}

.--just-center {
  justify-content: center;
}

.--just-end {
  justify-content: flex-end;
}

.--align-str {
  align-items: stretch;
}

.--align-center {
  align-items: center;
}

.--align-end {
  align-items: flex-end;
}

.--dir-col {
  flex-direction: column;
}

html,
body {
  min-height: 100%;
  position: relative;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.title--big{
  font-style: normal;
  font-weight: 100;
  font-size: 36px;
  line-height: 42px;
}

.title--middle {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.text--orange {
  color: #EF7F04
}

.text--white {
  color: #FFFFFF;
}

.text--purple {
  color: #2F2F51;
}

.btn {
  display: table-cell;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
  border: 0;
  border-radius: 3px;
}

.btn:active {
  transform: translate(0, -1px);
}

.btn--orange {
  background-color: #EF7F04;
}

.btn--orange:hover {
  background-color: #ff7b00;
}

.btn--purple {
  background-color: #3B3A63;
}

.btn--purple:hover {
  background-color: #474493;
}