<sectioun class="about-us">
  
  @@include('_about-us-article.html')
  <div class="our-features">
    <h3>Профессионализм</h3>
    <p>
      Бригада профессиональных
      мастеров по монтажу
      и обслуживанию
    </p>
  </div>
  <div class="our-features">
    <h3>Ценообразование</h3>
    <p>
      Лучшие цены на рынке
      пластиковых окон
    </p>
  </div>
  <div class="our-features">
    <h3>Мобильность</h3>
    <p>
      Заключение договора
      на дому
    </p>
  </div>
  <div class="our-features">
    <h3>Лояльность</h3>
    <p>
      99% клиентов рекомендуют
      нас своим друзьям
    </p>
  </div>
  <div class="our-features">
    <h3>Скорость</h3>
    <p>
      Короткие сроки
      установки изделий
    </p>
  </div>
  <div class="our-features">
    <h3>Служба качества</h3>
    <p>
      Безупречное качество
      и контроль изделий ПВХ
    </p>
    <a href="#">Оформить заявку на замер</a>
  </div>
</sectioun>