<section class="faq-block">
  <h3 class="faq-block__title title--middle text--white">Вопрос-ответ</h3>
  <details class="faq-list"><summary class="faq-list__inner  faq-list--text">Сколько по времени занимает изготовление пластиковых окон?</summary><p class="faq-text">До 10 дней</p></details>
  <details class="faq-list"><summary class="faq-list__inner faq-list--text">Какие существуют способы оплаты?</summary><p class="faq-text">Обычно мы берем золотом и драгоценными камнями, но рубли и биткойнты тоже прокатят</p></details>
  <details class="faq-list"><summary class="faq-list__inner faq-list--text">Где я могу посмотреть образцы?</summary><p class="faq-text">Обросцы можно посмотреть в любом нашем салоне или при вызове замерщика</p></details>
  <details class="faq-list"><summary class="faq-list__inner faq-list--text">Зачем вызывать замерщика? Я могу дать размеры</summary><p class="faq-text">Без продлем но потом мы не отвечаем за сквозняки и трещины на стёклах</p></details>
  <details class="faq-list"><summary class="faq-list__inner faq-list--text">Хотелось бы отделать балкон. Поможете?</summary><p class="faq-text">Конешно у нас множество различных вариантов исполнения</p></details>
  <details class="faq-list" open><summary class="faq-list__inner faq-list--text">Мне надо нанимать грузчиков для подъема?</summary><p class="faq-text"> Нет, команда мастеров все сами аккуратно доставят и внесут.</p></details>
  <!-- <ul class="faq-list text--purple">
    <li class="faq-list_item" >Сколько по времени занимает изготовление пластиковых окон?
      <ul class="faq-list_item-popup elenent-non">
        <li>Сколько по времени занимает изготовление пластиковых окон?</li>
      </ul>
    </li>
    <li class="faq-list_item" >Какие существуют способы оплаты?
      <ul class="faq-list_item-popup elenent-non">
        <li>Пы принимаем любую форму оплаты</li>
      </ul>
    </li>
    <li class="faq-list_item" >Где я могу посмотреть образцы?
      <ul class="faq-list_item-popup elenent-non">
        <li>В любом отделение нашего офиса или при вызове замерщика на дом</li>
      </ul>
    </li>
    <li class="faq-list_item" >Зачем вызывать замерщика? Я могу дать размеры
      <ul class="faq-list_item-popup elenent-non">
        <li>Нет проблем если вы не боитись сквозняков))</li>
      </ul>
    </li>
    <li class="faq-list_item" >Мне надо нанимать грузчиков для подъема?
      <ul class="faq-list_item-popup elenent-non">
        <li>Нет, команда мастеров все сами аккуратно доставят и внесут.</li>
      </ul>
    </li>
    <li class="faq-list_item" >Хотелось бы отделать балкон. Поможете?
      <ul class="faq-list_item-popup elenent-show">
        <li>Конечно сделаем что угодно если это окна</li>
      </ul>
    </li>
  </ul> -->
</section>