<section class="faq-block">
  <h3>Вопрос-ответ</h3>
  <ul>
    <li>Сколько по времени занимает изготовление пластиковых окон?
      <ul>
        <li>Сколько по времени занимает изготовление пластиковых окон?</li>
      </ul>
    </li>
    <li>Какие существуют способы оплаты?
      <ul>
        <li>Пы принимаем любую форму оплаты</li>
      </ul>
    </li>
    <li>Где я могу посмотреть образцы?
      <ul>
        <li>В любом отделение нашего офиса или при вызове замерщика на дом</li>
      </ul>
    </li>
    <li>Зачем вызывать замерщика? Я могу дать размеры
      <ul>
        <li>Нет проблем если вы не боитись сквозняков))</li>
      </ul>
    </li>
    <li>Мне надо нанимать грузчиков для подъема?
      <ul>
        <li>Нет, команда мастеров все сами аккуратно доставят и внесут.</li>
      </ul>
    </li>
    <li>Хотелось бы отделать балкон. Поможете?
      <ul>
        <li>Конечно сделаем что угодно если это окна</li>
      </ul>
    </li>
  </ul>
</section>