<header class="header">
  <body>
    <header class="header">
      <picture>
        <source media="(max-width: 767px)" srcset="/img/logo_1x.webp 1x, img/logo_1x.webp 2x">
        <source media="(max-width: 1200px)" srcset="/img/logo_1x_2x.webp 1x, /img/logo_1x_2x.webp 2x">
        <img class="" src="/img/logo_1x.png" srcset="/img/logo_1x_2x.webp 2x" width="89.5" height="63" alt="Окна в дом">
      </picture>
      <nav>
  <ul>
    <li><a href="">Услуги</a></li>
    <li><a href="">Продукция</a></li>
    <li><a href="">О компании</a></li>
    <li><a href="">Портфолио</a></li>
    <li><a href="">Вопрос-ответ</a></li>
    <li><a href="">Контакты</a></li>
  </ul>
  <div>
    <button>Заявка на замер</button>
    <button>Заказать расчет</button>
  </div>
  </nav>
  </header>
  
</header>
