<header class="header">
  <div class="header-wrapper main-container">
    <a href="#">
      <picture>
        <source media="(max-width: 767px)" srcset="/img/logo_1x.webp  1x,  img/logo_1x.webp 2x">
        <source media="(max-width: 1200px)" srcset="/img/logo_1x_2  webp  1x, /img/logo_1x_2x.webp 2x">
        <img class="" src="/img/logo_1x.png" srcset="/img/logo_1x_2x  webp   2x" width="89" height="63"
          alt="Окна в дом">
      </picture>
    </a>
    <nav class="maim-nav">
      <ul class="main-nav__list">
        <li class="main-nav__item"><a href="#" class="main-nav__link main-nav__link--active">Услуги</a></li>
        <li class="main-nav__item"><a class="main-nav__link" href="#">Продукция</a></li>
        <li class="main-nav__item"><a class="main-nav__link" href="#">О компании</a></li>
        <li class="main-nav__item"><a class="main-nav__link" href="#">Портфолио</a></li>
        <li class="main-nav__item"><a class="main-nav__link" href="#">Вопрос-ответ</a></li>
        <li class="main-nav__item"><a class="main-nav__link" href="#">Контакты</a></li>
      </ul>
      <a class="btn btn--application btn--orange" href="#">Заявка на замер</a>
      <a class="btn btn--order btn--purple" href="#">Заказать расчет</a>
    </nav>
  </div>
</header>