<section class="main-promo">
    <span class="main-promo__name title--middle text--orange">Окна Хаус -</span>
    <h1 class="main-promo__title title--big text--white ">Профессиональный подход к остеклению</h1>
    <div class="main-promo__wrapper">
        <div class="main-promo__feauteres">
            <p class="main-promo__text text--white">
                Современные окна
                и балконные конструкции
                по доступным ценам
            </p>
        </div>
        <div class="main-promo__feauteres">
            <p class="main-promo__text text--white">
                Квалифицированный
                подход к решению задач
                любой сложности
            </p>
        </div>
        <div class="main-promo__feauteres">
            <p class="main-promo__text text--white">
                Гарантия
                высочайшего качества
                нашей продукции
            </p>
        </div>
        <form class="calling-home" action="" method="post">
            <fieldset>
                <legend>
                    <h3>Вызов замерщика на дом</h3>
                </legend>
                <div class="">
                    <label class="" for="first-name">Имя</label>
                    <input class="feedback__input feedback__input--name title--middle" name="first-name" id="first-name"
                        type="text" placeholder="Представьтесь пожалуйста" required>
                </div>
                <div class="">
                    <label for="tel">Номер телефона</label>
                    <input type="tel" name="tel" id="tel" pattern="[0-9]{1}-[0-9]{3}-[0-9]{3}" required>
                </div>
                <div class="">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="feedback__place">
                    <input class="visually-hidden" type="checkbox" name="park" id="park" checked>
                    <label class="feedback__label feedback__label--place" for="park">Согласен на обработку
                        персональных данных
                        в соответствии с <a href="">политикой конфиденциальности</a></label>
                </div>
            </fieldset>
            <div class="feedback__btn">
                <button class="" type="submit">отправить заявку</button>
            </div>
        </form>
    </div>
</section>