<section class="main-service">
  <h2 class="title-middle">Наши услуги</h2>
  <div>
    <h3 class="title-middle">Установка
      пластиковых
      окон</h3>
    <p class="service-text">Устанавливаем пластиковые окна Rehau
      от проверенного производителя
      с
      гарантией качества</p>
  </div>
  <div>
    <h3 class="title-middle">Остекление балконов
      и лоджий
    </h3>
    <p class="service-text">Занимаемся остеклением и отделкой
      балконов и лоджий. Теплое и холодное остекление, изготовление выносов и крыш. Беремся за сложные объекты</p>
  </div>
  <div>
    <h3 class="title-middle">Остекление
      коттеджей и дач</h3>
    <p class="service-text">Остекление и отделка под ключ:
      от коттеджей и дач до террас
      и беседок. Выделяем личного
      технолога под каждый объект</p>
  </div>
  <div>
    <h3 class="title-middle">Остекление
      корпоративных объектов
    </h3>
    <p class="service-text">Реализуем сложные проекты
      по остеклению торговых центров,
      ресторанов, производственных помещений
      и офисов</p>
  </div>
</section>