<section class="main-promo">
    <div class="main-wrapper main-container">
        <div class="main-slogan__wrapper">
            <span class="main-promo__name title--middle text--orange">Окна Хаус -</span>
            <h1 class="main-promo__title title--big text--white ">Профессиональный подход к остеклению</h1>
        </div>
        <div class="main-promo__wrapper">
            <div class="main-promo__features">
                <p class="main-promo__text text--white">
                    Современные окна <br>
                    и балконные конструкции
                    по доступным ценам
                </p>
            </div>
            <div class="main-promo__features">
                <p class="main-promo__text text--white">
                    Квалифицированный
                    подход к решению задач
                    любой сложности
                </p>
            </div>
            <div class="main-promo__features">
                <p class="main-promo__text text--white">
                    Гарантия <br>
                    высочайшего качества
                    нашей продукции
                </p>
            </div>
        </div>
        @@include('../bem-blocks/_main-form.html')
    </div>
</section>