<section class="portfolio">
  <h2 class="title--middle text--purple">Портфолио</h2>
  <div>
    <picture>
      <source media="(max-width: 767px)" srcset="/img/Rectangle_1_1x.webp  1x,  /img/Rectangle_1_2x.webp 2x">
      <source media="(max-width: 1200px)" srcset="/img/Rectangle_1_1x.webp  1x,  /img/Rectangle_1_2x.webp 2x">
      <img class="" src="/img/Rectangle_1_1x.webp" srcset="/img/Rectangle_1_1x.webp 2x" width="214" height="214"
        alt="Примеры работ">
    </picture>
    <picture>
      <source media="(max-width: 767px)" srcset="/img/Rectangle_2_1x.webp  1x,  /img/Rectangle_2_2x.webp 2x">
      <source media="(max-width: 1200px)" srcset="/img/Rectangle_2_1x.webp  1x,  /img/Rectangle_2_2x.webp 2x">
      <img class="" src="/img/Rectangle_2_1x.webp" srcset="/img/Rectangle_2_1x.webp 2x" width="214" height="214"
        alt="Примеры работ">
      <picture>
        <source media="(max-width: 767px)" srcset="/img/Rectangle_3_1x.webp  1x,  /img/Rectangle_3_2x.webp 2x">
        <source media="(max-width: 1200px)" srcset="/img/Rectangle_3_1x.webp  1x,  /img/Rectangle_3_2x.webp 2x">
        <img class="" src="/img/Rectangle_3_1x.webp" srcset="/img/Rectangle_3_1x.webp 2x" width="214" height="214"
          alt="Примеры работ">
      </picture>
      <picture>
        <source media="(max-width: 767px)" srcset="/img/Rectangle_4_1x.webp  1x,  /img/Rectangle_4_2x.webp 2x">
        <source media="(max-width: 1200px)" srcset="/img/Rectangle_4_1x.webp  1x,  /img/Rectangle_4_2x.webp 2x">
        <img class="" src="/img/Rectangle_4_1x.webp" srcset="/img/Rectangle_4_1x.webp 2x" width="214" height="214"
          alt="Примеры работ">
      </picture>
  </div>
</section>